@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?96244411');
  src: url('../font/fontello.eot?96244411#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?96244411') format('woff'),
       url('../font/fontello.ttf?96244411') format('truetype'),
       url('../font/fontello.svg?96244411#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96244411#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-video-1:before { content: '\e835'; } /* '' */
.icon-t-shirt:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e845'; } /* '' */
.icon-thumbs-up-1:before { content: '\e843'; } /* '' */
.icon-thumbs-down:before { content: '\e844'; } /* '' */
.icon-trash:before { content: '\e846'; } /* '' */
.icon-cog-1:before { content: '\e842'; } /* '' */
.icon-calendar-1:before { content: '\e836'; } /* '' */
.icon-calendar-empty:before { content: '\e837'; } /* '' */
.icon-lightbulb-1:before { content: '\e839'; } /* '' */
.icon-down-open:before { content: '\e83d'; } /* '' */
.icon-left-open:before { content: '\e83c'; } /* '' */
.icon-right-open:before { content: '\e83b'; } /* '' */
.icon-up-open:before { content: '\e83a'; } /* '' */
.icon-angle-left:before { content: '\e83e'; } /* '' */
.icon-angle-right:before { content: '\e83f'; } /* '' */
.icon-angle-up:before { content: '\e840'; } /* '' */
.icon-angle-down:before { content: '\e841'; } /* '' */
.icon-right-hand:before { content: '\e847'; } /* '' */
.icon-flash:before { content: '\e800'; } /* '' */
.icon-ticket:before { content: '\e848'; } /* '' */
.icon-fork:before { content: '\e802'; } /* '' */
.icon-rocket:before { content: '\e801'; } /* '' */
.icon-bug:before { content: '\e833'; } /* '' */
.icon-tasks:before { content: '\e852'; } /* '' */
.icon-magic:before { content: '\e803'; } /* '' */
.icon-gauge:before { content: '\e804'; } /* '' */
.icon-terminal:before { content: '\e834'; } /* '' */
.icon-bullseye:before { content: '\e805'; } /* '' */
.icon-github:before { content: '\e849'; } /* '' */
.icon-link:before { content: '\e838'; } /* '' */
.icon-flash-1:before { content: '\e806'; } /* '' */
.icon-flow-cascade:before { content: '\e853'; } /* '' */
.icon-flow-branch:before { content: '\e808'; } /* '' */
.icon-flow-tree:before { content: '\e854'; } /* '' */
.icon-flow-line:before { content: '\e855'; } /* '' */
.icon-flow-parallel:before { content: '\e856'; } /* '' */
.icon-twitter:before { content: '\e84b'; } /* '' */
.icon-heart-1:before { content: '\e82e'; } /* '' */
.icon-videocam-2:before { content: '\e851'; } /* '' */
.icon-users-1:before { content: '\e82b'; } /* '' */
.icon-user-add:before { content: '\e82c'; } /* '' */
.icon-videocam-outline:before { content: '\e82f'; } /* '' */
.icon-videocam-1:before { content: '\e830'; } /* '' */
.icon-heart:before { content: '\e829'; } /* '' */
.icon-user-1:before { content: '\e828'; } /* '' */
.icon-videocam:before { content: '\e827'; } /* '' */
.icon-camera:before { content: '\e826'; } /* '' */
.icon-photo:before { content: '\e825'; } /* '' */
.icon-attach:before { content: '\e824'; } /* '' */
.icon-lock:before { content: '\e822'; } /* '' */
.icon-eye:before { content: '\e821'; } /* '' */
.icon-tag:before { content: '\e823'; } /* '' */
.icon-thumbs-up:before { content: '\e820'; } /* '' */
.icon-pencil:before { content: '\e81f'; } /* '' */
.icon-comment:before { content: '\e81e'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-cup:before { content: '\e81b'; } /* '' */
.icon-doc:before { content: '\e81c'; } /* '' */
.icon-note:before { content: '\e831'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-params:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-sound:before { content: '\e810'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-tv:before { content: '\e811'; } /* '' */
.icon-desktop:before { content: '\e816'; } /* '' */
.icon-mobile:before { content: '\e817'; } /* '' */
.icon-globe:before { content: '\e818'; } /* '' */
.icon-cloud:before { content: '\e819'; } /* '' */
.icon-paper-plane:before { content: '\e81a'; } /* '' */
.icon-database:before { content: '\e84d'; } /* '' */
.icon-key:before { content: '\e81d'; } /* '' */
.icon-beaker:before { content: '\e80f'; } /* '' */
.icon-truck:before { content: '\e80e'; } /* '' */
.icon-shop:before { content: '\e80d'; } /* '' */
.icon-diamond:before { content: '\e80c'; } /* '' */
.icon-heart-filled:before { content: '\e82d'; } /* '' */