#header {
  height: 265px;
  background: #000;
}
#header .logo {
  padding:83px 0;
}
#header .col-sm-2 {
  width: 22%;
}
#header .col-sm-10 {
  width:77.333333%;
}
#header .header-text {
  text-align: right;
  padding: 104px 0;
}
.header-text h1 {
  margin: 10px 0 0;
  font-weight: 100;
  color: white;
  font-size: 17px;
  letter-spacing: .9px;
}
#content {
  margin-top: 30px;
}
.how-to-get-started {
  float:left;
  width:100%;
}
.how-to-get-started h2 {
  font-size: 20px;
  border-bottom: 3px solid;
  display: inline-block;
  padding-bottom: 4px;
  border-color: #f4f5f8;
  font-weight: 600;
  color: #5e5f65;
}
.how-to-get-started-content {
  margin-top: 20px;
}
#footer {
  margin:50px 0 25px;
}
#footer .container {
  padding-right: 0;
}
.footer-wrapper {
  border-top: 3px solid #f4f5f8;
}
#footer .col-sm-2 {
  padding:0;
}
.footer-logo img {
  margin-top: 25px;
}
.footer-links ul {
  padding-left: 0;
  float: left;
  width: 100%;
  list-style: none;
}
.footer-links ul li {
  float: left;
  padding: 0 10px;
  margin: 36px 0 0;
}
.footer-wrapper .col-sm-6 {
  width: 41.6%;
  padding-right: 0;
}
.footer-credentials ul {
  list-style: none;
}
.footer-credentials ul li p {
  text-align: right;
  margin-top: 36px;
  color:#666;
}
.footer-credentials ul li p i {
  color:#fe4451;
}